include README.md
include LICENSE
include pyproject.toml
recursive-include multi_calendar_dimension *.py
recursive-include examples *.py
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .DS_Store
global-exclude *.xlsx
global-exclude *.csv
